@import '../../styles/index';

button.downloadButton {
  @extend %extends-flex-center;
  width: 40px;
  height: 40px;

  > svg {
    > g {
      transition: $ease03s;
      fill: $middleGrey;
    }
  }

  &:hover {
    cursor: pointer;

    > svg > g {
      fill: $lightGrey;
    }
  }
}
