@import '../../styles';

// ------ PAGE:

.pageContainer {
  &.page {
    position: relative;
    display: flex;
    padding: 0 20px;
    margin: 0 auto;
    min-width: calc($min - 40px);
    max-width: $tablet;
  }
}

.mainContainer {
  &.main {
    position: relative;
    display: flex;
    padding: 50px 0 50px;
    width: 100%;
    max-width: $tablet;

    /*
    p { line-height: 1.6 }
    */
  }
}

.contentContainer {
  &.content {
    width: 100%;
  }
}

// ------ General Container:

.container {
  @extend .pageContainer;
  @extend .mainContainer;
  @extend .contentContainer;
}

/*
@include media-screen-orientation('min', $tablet) {}
*/
