@import '../../../styles/';

button {
  background-color: transparent;
  padding: 0;
  border: 0;
  outline: none;
}

section.authorSection {
  display: inline-flex;
  flex-direction: column;

  > h2.author {
    gap: 10px;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 15px;
  }

  > h3.profession {
    font-size: 20px;
    color: $middleGrey;
    margin-bottom: 30px;
  }

  > ul.socialList {
    display: flex;
    gap: 25px;

    > li {
      > button.socialButton {
        @extend %extends-flex-center;
        height: 40px;

        > svg {
          width: 28px;
          height: 28px;
          fill: $middleGrey;
          transition: $ease03s;
        }

        &:hover {
          cursor: pointer;

          &.facebook {
            > svg {
              fill: $facebook;
            }
          }

          &.github {
            > svg {
              fill: $github;
            }
          }

          &.linkedin {
            > svg {
              fill: $linkedin;
            }
          }
        }
      }
    }
  }
}
