@import '../../../styles/';

button {
  background-color: transparent;
  padding: 0;
  border: 0;
  outline: none;
}

section.authorSection {
  display: inline-flex;
  flex-direction: column;

  > h1.author {
    gap: 10px;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 15px;
  }

  > h2.profession {
    font-size: 20px;
    color: $middleGrey;
    margin-bottom: 30px;
  }

  > ul.socialList {
    display: flex;
    gap: 25px;

    > li {
      > a.socialButton {
        @extend %extends-flex-center;
        height: 40px;

        > svg {
          width: 28px;
          height: 28px;
          fill: $middleGrey;
          transition: $ease03s;
        }

        &:hover {
          // cursor: pointer;

          &.facebook {
            > svg {
              fill: $facebook;
            }
          }

          &.github {
            > svg {
              fill: $github;
            }
          }

          &.linkedin {
            > svg {
              fill: $linkedin;
            }
          }
        }
      }
    }
  }
}

section.skilsSection {
  > h2.skills {
    font-size: 26px;
    font-weight: 600;
    padding-bottom: 15px;
    margin-bottom: 30px;
    text-transform: capitalize;
    border-bottom: 1px solid $darkGrey;
  }

  > ul.skillList {
    > li {
      margin-bottom: 20px;

      > h3 {
        margin-bottom: 5px;
        font-size: 14px;
        font-weight: 600;
        color: $middleGrey;
        text-transform: uppercase;
      }
      // background-color: tomato;
    }
  }
}
