@import '../../styles';

.wrapper {
  @extend %extends-hide-scrollbar;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $viewportHeight;

  &.scroll {
    overflow-y: scroll;
  }

  .layout {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: $viewportHeight;

    > header {
      width: 100%;
      height: $headerHeight;
    }

    /*
    > main {}
    */

    > footer {
      border-top: 1px solid $border;
    }
  }
}

// font-size: calc(10px + 2vmin);
