@import '../../../styles';

$slideWidth: 480px;
$slideHeight: 680px;

div.modalContent {
  @extend %extends-hide-scrollbar;
  // background-color: yellowgreen;
  overflow-y: scroll;

  .slider {
    position: relative;
    height: 100svh;

    > ul.slideList {
      position: absolute;
      top: 0;
      width: 100%;
      max-width: 480px;

      @include media-screen-orientation('min', 480px) {
        left: 50%;
        transform: translate(-240px);
      }

      > li.slideItem {
        position: absolute;
        top: 0;
        padding-top: 50px;
        transition: opacity 0.5s ease-in-out;
        opacity: 0;

        &.active {
          opacity: 1;
        }

        .thumb {
          > img.slide {
            display: block;
            width: 100%;
          }
        }
      }
    }

    .sliderButton {
      position: fixed;
      padding-top: 50px;
      width: 40px;
      height: 100%;
      z-index: 1;
      // background-color: teal;

      display: flex;
      justify-content: center;
      align-items: flex-end;

      @include media-screen-orientation('min', 580px) {
        align-items: center;
        width: 50px;
        height: 100%;
      }

      > span.buttonConent {
        @extend %extends-flex-center;
        width: 100%;
        height: 40px;
        background-color: rgba(0, 0, 0, 0.5);
        cursor: pointer;

        > svg {
          width: 30px;
          height: 30px;
        }

        @include media-screen-orientation('min', 580px) {
          height: 100%;
        }
      }

      &.prev {
        left: 0;
      }

      &.next {
        right: 0;

        > span.buttonConent > svg {
          transform: rotate(180deg);
        }
      }
    }
  }
}
