@import '../../styles/';

.headerBlock {
  position: fixed;
  width: 100%;
  background-color: $bg;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 5px -1px;
  z-index: 31;

  .headerContent {
    @extend %extends-flex-x-between-y-center;
    width: 100%;
    height: $headerHeight;
    user-select: none;

    > h1 {
      font-size: 20px;
      font-weight: 700;
    }

    > span.sublevel {
      position: absolute;
      top: 13px;
      left: 13px;
      padding: 5px 12px;
      font-size: 14px;
      font-weight: 700;
      letter-spacing: 0.5px;
      text-transform: uppercase;
      background-color: $selectMiddle;
      border-radius: 2px;
      transform: rotate(-2.5deg);
      @include box-shadow-offset(3px, $black);
    }

    .buttonBlock {
      @extend %extends-flex-y-center;
      gap: 10px;

      .headerMonoButton {
        min-width: 110px;
        height: 26px;
        font-size: 12px;
        font-weight: 700;
        text-transform: uppercase;
        border-radius: 15px;
        transition: $ease03s;

        @include media-screen-orientation('max', $tablet - 0.1) {
          padding-top: 1px;
        }
      }

      // ------ PDF Button:

      > button {
        > svg {
          width: 36px;
          height: 36px;
        }
      }

      // ------ Nav Button:

      > nav {
        position: static;

        > a {
          @extend %extends-flex-center;
          @extend .headerMonoButton;
          color: $bg;
          background-color: $middleGrey;

          &:hover {
            background-color: $lightGrey;
          }
        }
      }

      // ------ Close Modal Button:

      > button.closeModalButton {
        @extend .headerMonoButton;
        color: $white;
        background-color: $selectMiddle;
        cursor: pointer;

        &:hover {
          background-color: $selectLight;
        }
      }
    }
  }
}
