@import '../../styles/';

.headerBlock {
  position: fixed;
  width: 100%;
  background-color: $bg;
  border-bottom: 1px solid $border;
  z-index: 31;

  .headerContent {
    @extend %extends-flex-x-between-y-center;
    width: 100%;
    height: $headerHeight;
    user-select: none;

    > h1 {
      font-size: 20px;
      font-weight: 700;
    }

    > nav {
      position: static;

      > a {
        @extend %extends-flex-center;
        min-width: 110px;
        height: 26px;
        font-size: 12px;
        font-weight: 700;
        text-transform: uppercase;
        color: $dark;
        background-color: $middleGrey;
        border-radius: 15px;
        transition: $ease03s;

        &:hover {
          background-color: $light;
        }
      }
    }
  }
}
