@import '../../../styles/';

// ------ Hero:

section.heroSection {
  display: inline-flex;
  flex-direction: column;

  > h1.portpolio {
    @extend %extends-text-selection;
    gap: 10px;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 15px;
    text-transform: capitalize;
  }

  > h2.subtitle {
    font-weight: 600;
    color: $middleGrey;
    margin-bottom: 30px;
    user-select: none;
  }
}

section.projectSection {
  padding-bottom: 30px;

  > h2.title {
    font-size: 26px;
    font-weight: 600;
    padding-bottom: 15px;
    margin-bottom: 30px;
    text-transform: capitalize;
    border-bottom: 1px solid $darkGrey;
  }

  // ------ Projects:

  &.projectSection {
    user-select: none;

    > ul.projectList {
      display: grid;
      grid-template-columns: 1fr;
      gap: 50px;

      @include media-screen-orientation('min', $tablet) {
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
      }

      > li {
        .imageBlock {
          min-height: 146px;
          margin-bottom: 15px;

          .thumb {
            border-radius: 2px;
            overflow: hidden;
            @include box-shadow(3px, $black);
            border: 1px solid $darkGrey;

            &.empty {
              @extend %extends-flex-center;
              min-height: 146px;
            }

            > img {
              display: block;
              width: 100%;
            }

            .logoBox {
              display: flex;
              gap: 15px;

              > svg {
                width: 40px;
                height: 40px;
              }
            }
          }
        }

        .metaBlock {
          display: flex;
          flex-direction: column;
          gap: 15px;

          > h3.title {
            font-weight: 600;
            color: $middleGrey;
          }

          > span.buttonBlock {
            display: flex;
            gap: 10px;

            > a {
              @extend %extends-flex-center;
              gap: 2px;
              min-width: 65px;
              height: 20px;
              font-size: 10px;
              font-weight: 700;
              text-transform: uppercase;
              color: $dark;
              background-color: $middleGrey;
              border-radius: 15px;
              transition: $ease03s;

              @include media-screen-orientation('max', $tablet - 0.1) {
                padding-top: 1px;
              }

              &.locked {
                background-color: $error;
              }

              &:hover {
                background-color: $lightGrey;
              }

              > svg {
                width: 10px;
                height: 10px;
              }
            }
          }
        }
      }
    }
  }
}
