@import '../../../styles/';

// ------ Hero:

section.heroSection {
  display: inline-flex;
  flex-direction: column;

  > h1.portpolio {
    @extend %extends-text-selection;
    gap: 10px;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 15px;
    text-transform: capitalize;
  }

  > h2.subtitle {
    font-weight: 600;
    color: $middleGrey;
    margin-bottom: 30px;
    user-select: none;
  }
}

section.projectSection {
  padding-bottom: 30px;
  user-select: none;

  > h2.title {
    font-size: 26px;
    font-weight: 600;
    padding-bottom: 15px;
    margin-bottom: 30px;
    text-transform: capitalize;
    border-bottom: 1px solid $darkGrey;
  }

  // ------ Projects:

  &.hero {
    > h2.title {
      text-transform: none;
    }

    ul.projectList {
      @include media-screen-orientation('min', $tablet) {
        grid-template-columns: repeat(1, 1fr);

        > li {
          display: grid;
          grid-template-columns: 1.93fr 1fr;

          .imageBlock {
            margin-bottom: 0;
          }

          .metaBlock {
            padding-left: 20px;
          }
        }
      }
    }
  }

  > ul.projectList {
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;

    @include media-screen-orientation('min', $tablet) {
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
    }

    > li {
      .imageBlock {
        min-height: 146px;
        margin-bottom: 15px;

        .thumb {
          overflow: hidden;
          @include box-shadow-offset(3px, $black);
          border: 1px solid $darkGrey;
          border-radius: 2px;

          &.empty {
            @extend %extends-flex-center;
            // min-height: 134px;
          }

          > img {
            display: block;
            width: 100%;
          }

          .emptyBlock {
            @extend %extends-flex-center;
            position: relative;

            > img {
              display: block;
              width: 100%;
              opacity: 0;
            }

            > span.logoBox {
              display: flex;
              position: absolute;
              gap: 15px;

              > svg {
                width: 40px;
                height: 40px;
              }
            }
          }
        }
      }

      .metaBlock {
        display: flex;
        flex-direction: column;
        gap: 15px;

        > h3.title {
          font-weight: 600;
          color: $middleGrey;
        }

        > p.descriptionLine {
          max-width: 480px;
          font-size: 14px;
          line-height: 1.4;
          color: $middleGrey;
        }

        > span.buttonBlock {
          display: flex;
          gap: 10px;

          > a {
            @extend %extends-flex-center;
            gap: 2px;
            min-width: 65px;
            height: 20px;
            font-size: 10px;
            font-weight: 700;
            text-transform: uppercase;
            color: $bg;
            background-color: $middleGrey;
            border-radius: 15px;
            transition: $ease03s;

            @include media-screen-orientation('max', $tablet - 0.1) {
              padding-top: 1px;
            }

            &.locked {
              background-color: $error;
            }

            &:hover {
              background-color: $lightGrey;
            }

            > svg {
              width: 10px;
              height: 10px;
            }
          }
        }
      }
    }
  }
}
