@import '../../../styles/';

button.closeButton {
  @extend %extends-flex-center;
  position: absolute;
  top: 0;
  right: -30px;
  padding: 10px;
  width: 30px;
  padding: 10px;
  background-color: tomato;
  cursor: pointer;
}

// ------ Modal Content:

div.modalContent {
  padding: 10px;
  background-color: teal;
  color: white;
}
